name: great_sky_gru
channels:
  - pytorch
  - nvidia
  - defaults
dependencies:
  - python=3.10
  - pip
  - numpy
  - matplotlib
  - tqdm
  - pytorch
  - torchvision
  - torchaudio
  - pip:
    - torchmetrics